.canvas-wrapper {
    position: relative;
    width: 820px;
    height: 480px;
    margin: 0 auto;
}

.canvas-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.instructions-container {
    text-align: center;
}

.instructions-container .instructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.instructions-container .instructions .offline-instructions {
    margin-left: 20px;
}
